# Created by pytest automatically.
.idea
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.venv
/logs/
/data/
/test/output/
/test/data/
/.idea/
/.idea/workspace.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/excel-addin-chatgpt.iml
/.idea/modules.xml
/.idea/misc.xml
/.idea/vcs.xml
